body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    color: black;
}

h2 {
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
}